## Example .env for Pix RapidAPI integration
PIX_KEY_TYPE=telefone
PIX_KEY=11465151974
PIX_NAME=Loja Exemplo
PIX_CITY=Sao Paulo

# RapidAPI settings
RAPIDAPI_HOST=pix-qr-code1.p.rapidapi.com
RAPIDAPI_KEY=e6289e8eebmshee31e43df102cdfp17a5dfjsna8320f90880e
